{% extends 'layout.html' %}

{% load static %}

{% block content %}
	<section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(/static/images/big_image_1.jpg);">
		<div class="container">
			<div class="row align-items-center site-hero-inner justify-content-center">
				<div class="col-md-8 text-center">

					<div class="mb-5 element-animate">
						<h1>Why We Started Simple Portfolio</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END section -->


	<section class="site-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-7 text-center">
					<h2>Our Thoughts On This</h2>
					<p class="lead">Portfolio should be available for every working personel.</p>
				</div>
			</div>

			<div class="row mb-5 align-items-center">
				
				<div class="col-md-6 overflow order-1">
					<img src="{% static 'images/img_1.jpg' %}" alt="" class="img-fluid">
				</div>
				<div class="col-md-1 order-2"></div>
				<div class="col-md-5 order-3">
					<h2 class="mb-4">First, We Love Simplicity</h2>
					<p>We believe technology should be simple enough for all it user without consulting a manual. Our platform is made simple enough for everyone on the internet aiming to own a portfolio.</p>
				</div>

			</div>

			<div class="row align-items-center">
				
				<div class="col-md-6 overflow order-3">
					<img src="{% static 'images/img_2.jpg' %}" alt="" class="img-fluid">
				</div>
				<div class="col-md-1 order-2"></div>
				<div class="col-md-5 order-1">
					<h2 class="mb-4">We Love The Internet</h2>
					<p>The internet is a home, we aim to simplify the use and control of your professional story with simple steps while you share your professional story with a single link with zero stress and for free.
					<br>
					Signup today, update your story, share to the world and kick start your work story with us.
					</p>
				</div>
			</div>

		</div>
	</section>
	<!-- END section -->

{% endblock %}